.container {
  width: 100vw;
  height: 100vh;
  color: #f5f5f5;
}

.object {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.game {
  margin: 0 auto;
  width: 75%;
  height: 100vh;
  background-color: cyan;
}

.bin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.trash-bin {
  width: 100px;
  height: 200px;
  background-color: green;
}

.trash-bin.left {
  float: left;
}

.trash-bin.right {
  float: right;
}
